# .NET Core build output
bin/
obj/
out/
TestResults/
# User-specific files
*.user
*.userosscache
*.suo
*.userprefs
*.pidb
*.booproj
*.svd

# Rider
.idea/

# Visual Studio Code
.vscode/

# Visual Studio files
*.csproj.user
*.vcxproj.user
*.vs/
*.ncb
*.sdf
*.cache
*.ilk
*.log
*.tlh
*.tli
*.tmp
*.log
*.vspscc

# MacOS files
.DS_Store
